body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logoStyle {
    font-style: italic;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-palette: dark;
    text-align: left;
}

.container-1 {
    max-width: 1200px;
    
    margin: 0px auto;
}

.navbar-1 {
    position: relative;
    min-height: 50px;
    margin-bottom: 5px;
    border: 1px solid transparent;
}

header, nav, main, footer {
    max-width: 1200px;
    margin: 0px auto;
}

@media (min-width: 1200px) {
    .full-screen {
        width: 50vw;
        margin-left: 50%;
    }

        .full-screen > div {
            width: 100vw;
            margin-left: -100%;
        }

        .full-screen img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
}

.bg-image{
       background-image: url('images/Pizza_1.jpg');
       
}

.desk-image {
    position: relative;
    background: url('images/Pizza_1.jpg');
    height: 650px;
    width: 100%;
    background-size: cover;
    margin-top: 5px;
    
}

.desk-text-top {
    position: absolute; 
   top: 30px; 
    right: 15px; 
    line-height: 1px;
}

.desk-text-bottom {
    position: absolute; 
    bottom:200px;
    right: 80px;
    line-height: 1px;
}

.desk-text-style {
    font-style: normal;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color:white
   
   
}
.headerMenu{
    position:absolute;
    top:70px;
}

.menuImage {
    width: 300px;
    height: 300px;
}

.inline {
    display: inline-block; 
}

.orderImage {
    width: 150px;
    height: 150px;
}

.create-image {
    position: relative;
    background: url('images/Pizza_8.jpg');
    /* height: 562px;
    width: 1000px;*/
    background-size: cover;
    top: 5px;
}

.contur {
    text-shadow: black 0 0 3px;
}

.wallpaper {
    background: url('images/wallpaper.jpg');
    background-size: contain;
}
table{

}

.text_1{
    font:bold;
    font-size:large;
}

.div-data{
    height:30px;
}

.form_control{
    width:100%;
    max-width:100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    border: solid 1px;
    font-size: 28px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    right: 5px;
    bottom:5px;
    
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: gainsboro;
    color: white;
    align-items: end;
    align-content:end;
    position:relative;
    height:40px;
    
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    text-align:center;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}