
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" >
    <div class="text-center">
        <h1>Your order confirmed!</h1>
        <h4>Not long to wait!</h4>
        <h4>We entrusted your pizza to the fastest delivery person!</h4>
        <h4>We'll glad to see you again! Bye!</h4>
        <div>
            <img src="/Content/images/delivery_3.gif" alt="Alternate Text" style="height:330px; width:300px" />
        </div>


    </div>
</div>

