@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container desk-image" style="margin-top:5px">
       
            <div class="mx-auto pt-2 pb-2 bg-dark col-6 bg-success p-2 text-white  bg-opacity-75" style="margin: 50px 0 50px; position:absolute; right:50px">

                <div class="text-center">
                    <div>
                        <h3 class="text-capitalize ">Welcome to </h3>
                        <h1 class="text-capitalize" style="font:bold">Pizzeria Big-Bang</h1>
                        <br />
                        <h3 class="mainTitle">We're glad, that you're with us!</h3>

                    </div>

                </div>
                <br />
                <br />
                <br />

                <div class="text-center">
                    <div class="mainText">

                        <h4 class="mainTitle">Fast and free pizza delivery!</h4>
                        <h4 class="mainTitle">The freshest ingredients!</h4>
                        <h4 class="mainTitle">Cooking for you with love!</h4>
                    </div>
                    <br />
                    <br />
                    <br />
                    <a class="btn btn-light mt-2 btn-lg" href="@Url.Action("Menu","Menu")">Choose the Pizza!</a>
                    <br />
                    <br />
                </div>

            </div>
          

       
    </div>
    
</body>
<html>


@*<div class="container" style="margin-top:20px">
    <div class="desk-image">
        <div class="mx-auto pt-2 pb-2 bg-dark col-4 bg-success p-2 text-white contur bg-opacity-75">
            <div class="desk-text-top desk-text-style">
                <div class="text-center">
                    <div class="mainText">
                        <h1 class="display-4 text-capitalize ">Welcome to Pizzeria Big-Bang</h1>
                        <h2 class="mainTitle">We're glad, that you're with us!</h2>

                    </div>

                </div>
            </div>
            <div class="desk-text-bottom desk-text-style">
                <div class="text-center">
                    <div class="mainText">

                        <h3 class="mainTitle">Fast and free pizza delivery!</h3>
                        <h3 class="mainTitle">The freshest ingredients!</h3>
                        <h3 class="mainTitle">Cooking for you with love!</h3>
                    </div>
                    <br />
                    <br />
                    <br />
                    <a class="btn btn-dark mt-2" href="@Url.Action("Menu","Menu")">Choose the Pizza!</a>
                </div>
            </div>
        </div>


    </div>

</div>*@